@import url('fonts.css');  

/* 
1.Variables (13-21 rows)
2.Global Settings(22-36 rows)
3.Header()
4.Main
5.Footer

*/

/* --------Variables-------- */
:root{
--bodybg:#34384b;
--navbg:#f1f1f1;
--linkcolor:#3f3f3f;
--textcolor:#8f8f8f;
--titlecolor:#1d1d1d;

}
.justify-content-center{
 justify-content: center;
}
.align-items-center{
 align-items: center;
}
/* -----Global settings----- */
*,*::after,*::before{
 padding: 0;
 margin: 0;
 font-size: 14px;
 box-sizing: border-box;
 scroll-behavior: smooth;
}
a{ 
 display: block;
 text-decoration: none;}
ul{
 list-style: none;}
body{
 background-color:var(--bodybg);
 font-size: 14px;
 font-family: 'OpenSans-SemiBold';

}
/* -----Header------------- */

header .navbar{
 padding: 30px 0;
 background-color: var(--navbg);
}
.navbar{
 display: flex;
 align-items: center;
 justify-content: center;
 position:fixed;
 top: 0;
 right: 0;
 left: 0;
}

header .navbar .navbar-brand img{
 width: 175px;
 height: 46px;
}
header .navbar .navbar-nav{
 text-align: center;
}
header .navbar .navbar-nav li{
 display: inline-block;
}
header .navbar .navbar-nav li{
 margin-left: 20px;
 margin-right: 20px;

}
header .navbar .navbar-nav li a{
text-transform: uppercase;
 color:var(--linkcolor);
 font-size: 12px;
}
