/* 
1.Variables
2.Global Settings
3.


*/


/* --------Variables-------- */
:root{
--bodybg:#dddcdc;
--

}
/* -----Global settings----- */
*{
 padding: 0;
 margin: 0;
 font-size: 14px;
 box-sizing: border-box;
}
body{
 background-color:var(--bodybg);
}