@import url('fonts.css');
@font-face {
    font-family: 'B612';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/b612-v5-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/b612-v5-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
/* 
1.Variables (13-21 rows)
2.Global Settings(22-36 rows)
3.Header()
4.Main
5.Footer



*/

/* --------Variables-------- */
:root{
--bodybg:#DCDCDC;
--navbg:#F8F8FF;
--linkcolor:#222525;
--textcolor:#8f8f8f;
--titlecolor:#1d1d1d;

}
.justify-content-center{
 justify-content: center;
}
.align-items-center{
 align-items: center;
}
/* -----Global settings----- */
*,*::after,*::before{
 padding: 0;
 margin: 0;
 font-size: 14px;
 box-sizing: border-box;
 scroll-behavior: smooth;
}
a{ 
 display: block;
 text-decoration: none;}
ul{
 list-style: none;}
body{
 background-color:var(--bodybg);
 font-size: 16px;
 font-family: 'B612';
 font-style: normal;
 font-weight: 400;
}

/* -----Header------------- */
header .navbar{
 padding: 40px 0;
}
header .navbar .navbar-nav{
 display: flex;
}
header .navbar .navbar-nav li{
 padding-left: 10px;
 padding-right: 45px;
}
