

/* 
320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
*/

@media (min-width:992px) {
.line-bottom{
 display: block;
 width: 0%;
 height: 2px;
 background-color:  var(--hovercolor);
 transition: all .7s linear 0s;
}
header .navbar .navbar-nav li .line-bottom{
 transition: all .7s linear 0s;
}
header .navbar .navbar-nav li:hover .line-bottom{
 width: 100%;
 transition: all .5s ease 0s;
}
       
header .navbar .navbar-nav li a:hover{
 color: var(--hovercolor);
}
#menuToggle{
 display: none;
}
}
@media (max-width:991px) {
#menuToggle{
 display: block;
}
.navbar-nav{
display: none;
}
}


/*  Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {  }

/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {  }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {  }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {  }

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }


