/* 
320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
*/

@media (min-width: 992px) {
  .line-bottom,
  .active {
    display: block;
    width: 0%;
    height: 2px;
    background-color: var(--hovercolor);
    transition: all 0.7s linear 0s;
  }
  header .navbar {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  }
  header .navbar .navbar-nav li {
    margin-left: 20px;
    margin-right: 20px;
  }
  header .navbar .navbar-nav li .line-bottom {
    transition: all 0.5s linear 0s;
  }
  header .navbar .navbar-nav li:hover .line-bottom,
  .active {
    width: 100%;
  }

  #menuToggle {
    display: none;
  }
  .main-title span,
  .fullInform-text span {
    display: block;
  }

  main .introduction {
    min-height: 700px;
    position: relative;
  }

  main .introduction::before {
    content: "";
    background: url("../img/bgmagistr-min.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 36%;
    background-size: cover;
    opacity: 0.4;
    position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        z-index: -1;
  }


  /*Animations*/
  @keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    80% {
      transform: translateX(10px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }
    80% {
      transform: translateX(-30px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes showText {
    0% {
      opacity: 0;
    }
    80% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .main-title-first {
    animation: moveInLeft 4s ease-in-out;
  }
  .main-title-second {
    animation: moveInRight 4s ease-in-out;
  }
  .main-text {
    animation: showText 5.2s ease-out;
  }



  .fullInform-text .left {
    animation: moveInLeft 10s;
  }
  .fullInform-text .right {
    animation: moveInRight 10s;
  }
}

@media (max-width: 991px) {
  .social,
  .hide {
    opacity: 0;
    display: none;
    transition: 0.4s;
  }
  .social {
    display: flex;
  }
  .slideDown {
    transition: 0.3s;
    height: 100vh;
  }
  /* ::-webkit-scrollbar {
width: 0px;
background: rgba(255, 255, 255, 0.0);
} */

  .navbar {
    padding-top: 20px;
    
  }
  header .navbar .navbar-nav li {
    display: flex;
    justify-content: center;
    padding: 25px 0;
  }
  header .navbar .navbar-nav li a {
    font-size: 20px;
    color: var(--titlecolor);
  }
  header .navbar .navbar-nav li {
    padding: 35px 0;
  }
  main .mobile-bg {
    background: url("../img/bgMobile-min.jpg") center/cover
      no-repeat;
    padding: 150px;
    opacity: 0.6;
    border-bottom: 1px solid transparent;
  }
  main .introduction {
    background: none;
    min-height: 0;
    opacity: 1;
  }
  main .introduction .main-card {
    background-color: transparent;
    margin: 0;
    text-align: center;
  }
  main .introduction .main-card p {
    word-spacing: 0px;
    letter-spacing: 0px;
    font-family: "OpenSans-Light";
    
  }
  .btn-content {
    text-align: center;
    margin-bottom: 30px;
  }
  main .full-introduction {
    padding: 25px 0;
  }
  main .fullInform-text h1 {
    font-size: 56px;
    line-height: 30px;
  }
}

/*  Extra small devices (portrait socials, less than 576px) */
@media (max-width: 575.98px) {
  header .navbar .navbar-nav li {
    padding: 35px 0;
  }
  main .mobile-bg {
    background-image:  url("../img/bgMobile.jpg") center/cover no-repeat;
    padding: 150px;
    opacity: 0.6;
    border-bottom: 1px solid transparent;
  }
  main .introduction {
    background: none;
    min-height: 0;
    opacity: 1;
  }
  main .introduction .main-card {
    padding: 5px 0;
    text-align: center;
  }
  main .introduction .main-card h1 {
    font-size: 20px;
    line-height: 25px;
    word-spacing: 1;
    letter-spacing: 0.2px;
  }
  main .introduction .main-card p {
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 25px;
  }
  .btn-content {
    padding-bottom: 0px;
  }
  main .fullInform-text h1 {
    font-size: 46px;
  }
}

/*  Small devices (landscape socials, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  header .navbar .navbar-nav li {
    padding: 35px 0;
  }
  main .mobile-bg {
    background-position-y: 25%;
  }
  main .introduction .main-card {
    padding: 5px 0;
  }
  main .introduction .main-card h1 {
    font-size: 22px;
    line-height: 30px;
    word-spacing: 1;
    letter-spacing: 0.6px;
  }
  main .introduction .main-card p {
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 25px;
    word-spacing: 0;
    letter-spacing: 0px;
  }
  .btn-content {
    padding-bottom: 0px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  main .mobile-bg {
    background-position-y: 25%;
  }
  main .introduction .main-card {
    padding: 20px 0;
  }
  main .introduction .main-card h1 {
    line-height: 36px;
    word-spacing: 5px;
    letter-spacing: 3.6px;
  }
  main .introduction .main-card p {
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 45px;
    word-spacing: 1px;
    letter-spacing: 1px;
    line-height: 36px;
  }
  .btn-content {
    padding-bottom: 0px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
