/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* 
320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
*/

@media (min-width: 992px) {
  .line-bottom,
  .active {
    display: block;
    width: 0%;
    height: 2px;
    background-color: var(--btn-color-1);
    -webkit-transition: all 0.7s linear 0s;
    -o-transition: all 0.7s linear 0s;
    transition: all 0.7s linear 0s;
  }

  .active-navbar {
    -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.8);
    z-index: 20;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }

  header .navbar .navbar-nav li {
    margin-left: 34px;
    margin-right: 34px;
  }

  header .navbar .navbar-nav li .line-bottom {
    -webkit-transition: all 0.5s linear 0s;
    -o-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
    
  }
  header .navbar .navbar-nav li:hover .line-bottom,
  .active {
    width: 100%;
  }

  #menuToggle {
    display: none;
  }
  .multiple-language{
    
    margin-right: 55px;
    
  }
  .main-title span,
  .fullInform-text span {
    display: block;
  }

  main .introduction {
    min-height: 800px;
    position: relative;
  }

  main .introduction::before,
  main .introduction::after {
    content: "";
    background: url("../img/bgmagistr-min.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 18%;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
  }
  main .introduction::before{
    opacity: 0.75;
    clip-path: circle(64% at 50% 2%);
  }
  main .introduction::after {
    
    opacity:.1;
  }

  /*Animations*/
  @-webkit-keyframes moveInLeft {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-100px);
      transform: translateX(-100px);
    }
    80% {
      -webkit-transform: translateX(10px);
      transform: translateX(10px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  @keyframes moveInLeft {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-100px);
      transform: translateX(-100px);
    }
    80% {
      -webkit-transform: translateX(10px);
      transform: translateX(10px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  @-webkit-keyframes moveInRight {
    0% {
      opacity: 0;
      -webkit-transform: translateX(100px);
      transform: translateX(100px);
    }
    80% {
      -webkit-transform: translateX(-30px);
      transform: translateX(-30px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  @keyframes moveInRight {
    0% {
      opacity: 0;
      -webkit-transform: translateX(100px);
      transform: translateX(100px);
    }
    80% {
      -webkit-transform: translateX(-30px);
      transform: translateX(-30px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }

  @-webkit-keyframes showText {
    0% {
      opacity: 0;
    }
    80% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes showText {
    0% {
      opacity: 0;
    }
    80% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes moveInBottom {
    0% {
      opacity: 0;
      -webkit-transform: translateY(30px);
      transform: translateY(30px);
    }

    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  @keyframes moveInBottom {
    0% {
      opacity: 0;
      -webkit-transform: translateY(30px);
      transform: translateY(30px);
    }

    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  .main-title-first {
    -webkit-animation: moveInLeft 4s ease-in-out;
    animation: moveInLeft 4s ease-in-out;
  }
  .main-title-second {
    -webkit-animation: moveInRight 4s ease-in-out;
    animation: moveInRight 4s ease-in-out;
  }
  .main-text {
    -webkit-animation: showText 5.2s ease-out;
    animation: showText 5.2s ease-out;
  }

  .fullInform-text .left {
    -webkit-animation: moveInLeft 10s;
    animation: moveInLeft 10s;
  }
  .fullInform-text .right {
    -webkit-animation: moveInRight 10s;
    animation: moveInRight 10s;
  }
}

@media (max-width: 991px) {
  .social,
  .hide {
    opacity: 0;
    display: none;
    transition: all .5s;
  }
  .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .social a{
    display: none;
  }
  .slideDown {
    animation: navbar 1s forwards;
  }



  @keyframes navbar {
    from{
      height: 100vh;
      clip-path: circle(20% at 100% 0);
    }
    to{
      height: 100vh;
      clip-path: circle(141.4% at 100% 0);
    }

  }





  /* ::-webkit-scrollbar {
width: 0px;
background: rgba(255, 255, 255, 0.0);
} */

  .navbar {
    padding-top: 20px;
  }
  header .navbar .navbar-nav li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 25px 0;
    transition:all .1s ease;
  }
  header .navbar .navbar-nav li a {
    font-size: 20px;
    color: var(--secondbg);
    transition: .5s ;

  }
  header .navbar .navbar-nav li a:hover {
    color: #00b1e3;
  }
  
  .mainbg {
    background-color: rgba(29, 32, 49, .98);
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;

  }

  main .mobile-bg {
    background: url("../img/bgMobile-min.jpg") center/cover no-repeat;
    padding: 150px 0;
    opacity: 0.6;
    border-bottom: 1px solid transparent;
  }
  main .introduction {
    background: none;
    min-height: 0;
    opacity: 1;
  }
  main .introduction .main-card {
    background-color: transparent;
    margin: 0;
    text-align: center;
  }
  main .introduction .main-card p {
    word-spacing: 0px;
    letter-spacing: 0px;
    font-family: "OpenSans-Light";
  }
  .btn-content {
    text-align: center;
  }
  main .full-introduction {
    padding: 25px 0;
  }

  /*section-2*/
  main .edu-media iframe {
    padding: 0 15px;
    padding-bottom: 15px;
  }

  /*section-3*/
  .full-introduction {
    padding-bottom: 0px;
  }

  /*section-3*/
  main .advantages h1 {
    font-size: 24px;
  }
  main .text-advantage {
    padding: 75px 50px;
  }
  /*section-4*/

  main .feedback {
    padding-bottom: 25px;
  }
  .swiper-container {
    width: 100%;
  }
  main .feedback .feedback-title {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 2.5px;
  }
  main .feedback .feedback-box {
    height: 400px;
    padding: 25px;
  }
  main .feedback .feedback-img {
    width: 250px;
    height: 150px;
  }
  main .feedback .name-abiturient {
    padding: 15px 0;
    font-size: 20px;
    letter-spacing: 2.5px;
  }
  main .feedback .feedback-text {
    font-size: 12px;
    padding: 0 15px;
  }

  /*section-5*/
  main .media {
    padding-bottom: 15px;
  }
  main .media h1 {
    font-size: 24px;
    letter-spacing: 1.2px;
    font-family: "OpenSans-Regular";
  }
  main .media p {
    font-size: 14px;
    padding: 0;
    padding-bottom: 10px;
  }
  main .media iframe {
    height: 250px;
  }
  /*Footer*/

  .footer ul {
    text-align: center;
    padding-bottom: 25px;
  }
  .footer ul li a {
    padding: 0 2px;
  }

  .footer-top {
    margin: 0;
  }
  .footer-top .phone-numbers a {
    padding-bottom: 5px;
  }
  .footer-top p {
    letter-spacing: 1px;
    padding: 25px 0 5px;
  }
  .footer-top .footer-top-address {
    line-height: 20px;
  }
}

/*  Extra small devices (portrait socials, less than 576px) */
@media (max-width: 575.98px) {
  header .navbar .navbar-nav li {
    padding: 35px 0;
  }
  main .mobile-bg {
    background-image: url("../img/bgMobile.jpg") center/cover no-repeat;
    padding: 150px 0;
    opacity: 0.6;
    border-bottom: 1px solid transparent;
  }
  main .introduction {
    background: none;
    min-height: 0;
    opacity: 1;
  }
  main .introduction .main-card {
    padding: 5px 0;
    text-align: center;
  }
  main .introduction .main-card h1 {
    font-size: 24px;
    line-height: 25px;
    word-spacing: 0.5px;
  }
  main .introduction .main-card p {
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 25px;
  }
  .btn-content {
    padding-bottom: 0px;
  }
  main .fullInform-text h1 {
    font-size: 24px;
  }
  /*section-2*/
  main .edu-media iframe {
    height: 300px;
    padding: 0 15px;
    padding-bottom: 15px;
  }

  main .educational-videos h1 {
    font-size: 24px;
    padding-top: 25px;
    padding-bottom: 10px;
    letter-spacing: 2.5px;
  }
  /*section-3*/
  .full-introduction {
    padding-bottom: 0px;
  }
  main .fullInform-logo {
    display: none;
  }
  main .fullInform-text {
    font-family: "OpenSans-Regular";
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0;
    height: 485px;
  }
  main .fullInform-photo {
    height: 200px;
  }
  main .fullInform-text h1 {
    font-size: 24px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  main .fullInform-text h1 span {
    margin: 0 10px;
  }
  main .fullInform-text p {
    font-size: 14px;
    line-height: 16px;
  }
  /*section-3*/
  main .advantages h1 {
    font-size: 24px;
  }
  main .text-advantage {
    padding: 75px 50px;
  }
  /*section-4*/

  main .feedback {
    height: 100%;
  }
  .swiper-container {
    width: 100%;
  }
  main .feedback .feedback-title {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 2.5px;
  }
  main .feedback .feedback-box {
    height: 450px;
    padding-top: 25px;
  }
  main .feedback .feedback-img {
    width: 250px;
    height: 150px;
  }
  main .feedback .name-abiturient {
    padding: 15px 0;
    font-size: 20px;
    letter-spacing: 2.5px;
  }
  main .feedback .feedback-text {
    font-size: 14px;
    padding: 0 15px;
    line-height: 16px;
  }

  /*section-5*/
  main .media {
    padding-bottom: 15px;
  }
  main .media h1 {
    font-size: 24px;
    letter-spacing: 1.2px;
    font-family: "OpenSans-Regular";
  }
  main .media p {
    font-size: 14px;
    padding: 0;
    padding-bottom: 10px;
  }
  main .media iframe {
    height: 250px;
  }
  /*Footer*/

  .footer ul {
    text-align: center;
    padding-bottom: 25px;
  }
  .footer ul li a {
    padding: 0 2px;
  }

  .footer-top {
    margin: 0;
  }
  .footer-top .phone-numbers a {
    padding-bottom: 5px;
  }
  .footer-top p {
    letter-spacing: 1px;
    padding: 25px 0 5px;
  }
  .footer-top .footer-top-address {
    line-height: 20px;
  }
  .footer-bottom span {
    line-height: 24px;
  }
}

/*  Small devices (landscape socials, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  header .navbar .navbar-nav li {
    padding: 35px 0;
  }
  main .mobile-bg {
    background-position-y: 25%;
  }
  main .introduction .main-card {
    padding: 5px 0;
  }
  main .introduction .main-card h1 {
    font-size: 22px;
    line-height: 30px;
    word-spacing: 1;
    letter-spacing: 0.6px;
  }
  main .introduction .main-card p {
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 25px;
    word-spacing: 0;
    letter-spacing: 0px;
  }
  .btn-content {
    padding-bottom: 0px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  main .mobile-bg {
    background-position-y: 25%;
  }
  main .introduction .main-card {
    padding: 20px 0;
  }
  main .introduction .main-card h1 {
    line-height: 36px;
    word-spacing: 5px;
    letter-spacing: 3.6px;
  }
  main .introduction .main-card p {
    font-size: 17px;
    padding-top: 10px;
    padding-bottom: 45px;
    letter-spacing: 0px;
    line-height: 35px;
  }
  .btn-content {
    padding-bottom: 0px;
  }
}




/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  header .navbar .navbar-nav li {
    margin-left: 15.5px;
    margin-right: 15.5px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  header .navbar .navbar-nav li {
    margin-left: 26px;
    margin-right: 26px;
  }

}
